body, html {
  height: 100%;
  /*overflow: hidden;*/
  font-family: Tahoma, Geneva, sans-serif;
  width: 100%;
}

/* General navigationbar settings */
.navbar {
	background-color: #262626;
	/*height: 5%;*/
	opacity: 0.9;
	width: 100%;
	position: fixed;
}
ul.navbar-nav {
	width: 100%;
}

/* Get pricing text in navbar */
#getPrice {
	color: #00ff00;
	font-family: 'Lobster', cursive;
	font-size: 150%;
}
#getPrice:hover {
	color: white;
}
.logo {
	height: 40px;
	padding: 0px;
}

/* language image*/
.language {
	/*border-radius: 30%;*/
	width: 40px;
}
.dropdown-menu {
	min-width: 40%;
	margin-top: auto;
}
.dropdown-item.active {
	background-color: white;
}

/* Settings for the content of the first page */
.text-body {
	max-width: 960px;
	margin: 0 auto;
	background-color: #f9f9f9;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 1.5%;
	margin-bottom: 1.5%;
	font-size: 20px;
	border-radius: 15px;
}
h1 {
	font-family: 'Lobster', cursive;
	text-decoration: underline;
}
.picture1 {
	background: url("../Media/arrows-blur-buttons-2115257.jpg");
	background-position: bottom;
	height: 30%;
}
.picture2 {
	background: url("../Media/artiom-vallat-1524410-unsplash.jpg");
	background-position: center;
	height: 60%;
}
.picture3 {
	background: url("../Media/close-up-computer-part-connection-461490.jpg");
	background-position: center;
	height: 50%;
}
.picture4 {
	background: url("../Media/ventilatorji manjsa velikost.gif");
	background-position: center;
	height: 60%;
}
.picture5 {
	background: url("../Media/computer-keyboard-connection-contemporary-1714208.jpg");
	background-position: center;
	height: 20%;
}
.picture6 {
	background: url("../Media/myPC.jpg");
	background-position: center +220px;
	height: 11%;
}
.parallax {
	background-size: cover;
	background-attachment: scroll;
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

/* Google maps location */
.mapouter {
	text-align:right;
	height:450px;
	width:100%;
}
.gmap_canvas {
	overflow:hidden;
	background:none!important;
	height:450px;
	margin: auto;
}
iframe {
	width: 450px;
	height: 450px;
}

a.location-link {
	text-decoration: none;
}
table {
	width: 80%;
	margin-left: 10%;
	background-color: #f2f2f2;
	border-radius: 15px;
}
tr {
	height: 20%;
}
td.left-side {
	padding-left: 20px;
	padding-right: 10px;
	width: 60%;
}
td.right-side {
	text-align: center;
	width: 20%;
	font-size: 1.2em;
	font-weight: bold;
}
p.title-of-tabledata {
	font-size: 20px;
	font-weight: bold;
}
p.content-of-tablecell {
	font-size: 15px;
	padding-left: 20px;
}
p.small-text {
	font-size: 10px;
	font-weight: normal;
}
hr {
	margin: 5px;
}

/* Footer settings*/
footer {
	width: 100%;
	background-color: #262626;
	opacity: 0.9;
}
div.col-sm {
	margin-top: 10px;
	text-align: center;
}
p.footer {
	color: #bfbfbf;
	margin-left: auto;
	vertical-align: center;
}
a.email-link {
	color: #808080;
}
a.email-link:hover {
	color: white;
}
a.second-link:hover {
	color: black;
}


/* Exaptions for small screen */
@media (min-width: 576px) {
	div.collapse > ul > li:first-child {
		margin-left:auto;
		font-size: 160%;
	}
	.nav-link {
		padding: 0px;
	}
	.parallax {
		background-attachment: fixed;
	}
	.gmap_canvas {
		width:450px;
	}
}

@media (max-width: @iphone-screen) {
        .parallax {
		background-attachment: fixed;
		}
    }

@media (max-width: @ipad-screen) {
        .parallax {
		background-attachment: fixed;
		}
    }

.dropdown-menu.footer.show {
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
}
a.footer.dropdown-toggle::after {
    display:none;
}
a.footer>span{
	color: #bfbfbf;
}
a.footer:hover {
	text-decoration: none;
}
a.footer>span:hover{
	color: white;
}
footer>div>div>div>div>p {
	margin-top: 1rem;
}